name: Deploy Node.js app to Azure Web App - fe-cloudpix

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read # required for actions/checkout
      id-token: write # required for Azure login

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js version
        uses: actions/setup-node@v3
        with:
          node-version: "24.x"

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_39D842E80B204059A7A233CC2F1FED74 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_EF14B608549D4145A7C1600401A8C92E }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_0A1F5417FC1C4C66AA4DB4F03AED3089 }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: "fe-cloudpix"
          slot-name: "Production"
          package: .
